* {
  box-sizing: border-box;
}

html,
body {
  color: #827b7b;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
}

.header {
  border-bottom: 1px solid #e8d2d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 100%;
  padding: 1rem 0;
}

.header__title {
  color: #827b7b;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  margin: 0;
}

.logo__img {
  display: block;
  width: 5rem;
}

.cart {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.cart__button {
  background-color: transparent;
  background-image: url('../assets/images/cart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  color: transparent;
  height: 2rem;
  width: 2rem;
  opacity: 1;
  outline: none;
  position: relative;
  transition: opacity 0.15s ease-out;
}

.cart__button:focus,
.cart__button:hover {
  opacity: 0.65;
}

.cart__button--has-products::before {
  background-color: #b2afa0;
  border-radius: 50%;
  color: #fff;
  content: attr(data-cart-amount);
  display: flex;
  font-size: 0.625rem;
  align-items: center;
  line-height: 1;
  justify-content: center;
  height: 1.125rem;
  width: 1.125rem;
  position: absolute;
  top: -0.75rem;
  right: -1.125rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  margin: 2rem 0 1rem;
  padding: 0;
}

.card {
  border: 1px solid #f9f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__info {
  background-color: #f9f2f2;
  padding: 0.75rem 1rem;
}

.card__info__text {
  color: #ae4536;
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 0.25rem 0 0.75rem;
}

.button {
  background-color: #e8d2d2;
  border: none;
  border-radius: 4px;
  color: #736d6c;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 0.15s ease-in;
  width: 100%;
}

.button:focus,
.button:hover {
  opacity: 0.7;
}

.input {
  border: 2px solid #e8d2d2;
  border-radius: 3px;
  color: #827b7b;
  height: 2rem;
  padding: 0 0.5rem;
}

.filters {
  display: grid;
  grid-template-columns: 2fr minmax(50px, 1fr) minmax(50px, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}

.font--size-1 {
  font-size: 1rem;
}

.font--bold {
  font-weight: bold;
}

.display--block {
  display: block;
}
